<!-- NAVIGATION STARTS HERE -->
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <span>
          <img src="/img/menu.png" alt="Menu" onclick="toggleMenu()" style="margin-top:-15px; display: inline-block" class="show-for-small" >
        </span>
      	<span id="logo">CASK AND SLICE</span>
      </li>
    </ul>

    <script>
      function toggleMenu() {
        console.log("hello");
        $("#navigation-list").toggle();
      }
    </script>

    <section id="navigation-list" class="top-bar-section togglable-for-small">
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="/" class="">This Month</a>
        </li>
        <li class="divider"></li>
        <!-- <li>
          <a href="/docs" class="">Previous Events</a>
        </li> -->
        <li class="divider"></li>
    </section>
  </nav>

  <!-- NAVIGATION ENDS HERE -->
