<link rel="stylesheet" type="text/css" href="/css/custom-theme/jquery-ui-1.9.2.custom.min.css" type="image/x-icon"/>
   <!-- <script type="text/javascript" src="/css/js/jquery-1.8.3.js"></script> -->
   <script src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/css/js/jquery-ui-1.9.2.custom.min.js"></script>  
<style type="text/css">
#menu{
	margin-top: 10px;
}
ul li ul li{
	list-style: none;
}
</style>
<script>
$(function() {
    $( "#menu" ).menu();
  });
</script>

<div class="large-3 pull-9 columns">
	<ul id="menu" class="side-nav">
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/myaccount">Account</a></li>
		<li><a href="/campaign">Campaign</a>
		</li>

		<li><a href="/payment">Payment details</a></li>
		<li><a href="#">Locations</a></li>
		<li><a href="#">Settings</a></li>
	</ul>
</div>